<a href="https://colab.research.google.com/github/kokilasri/Udemy-Courses-Dataset-Data-Analysis-using-Python/blob/main/Udemy_Courses_Dataset_Data_Analysis_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Udemy Courses.csv")

In [3]:
data

      course_id  ...              subject
0        288942  ...  Musical Instruments
1       1170074  ...  Musical Instruments
2       1193886  ...  Musical Instruments
3       1116700  ...  Musical Instruments
4       1120410  ...  Musical Instruments
...         ...  ...                  ...
3677     328960  ...      Web Development
3678     552700  ...  Musical Instruments
3679     631754  ...      Web Development
3680    1225194  ...     Business Finance
3681     964478  ...       Graphic Design

[3682 rows x 11 columns]

In [4]:
data.head(2)

   course_id  ...              subject
0     288942  ...  Musical Instruments
1    1170074  ...  Musical Instruments

[2 rows x 11 columns]

In [5]:
data.shape

(3682, 11)

#1) What are all different courses for which udemy is offering courses

In [7]:
data.head(1)

   course_id  ...              subject
0     288942  ...  Musical Instruments

[1 rows x 11 columns]

In [13]:
data['subject'].unique()

array(['Musical Instruments', 'Business Finance', 'Graphic Design',
       'Web Development'], dtype=object)

#2)Which subject has maximum number of courses

In [14]:
data['subject'].value_counts().sort_values(ascending=False)

Web Development        1200
Business Finance       1199
Musical Instruments     680
Graphic Design          603
Name: subject, dtype: int64

#3) Show all courses that are free of cost

In [16]:
data[ data['is_paid'] == False]

      course_id  ...              subject
41       286070  ...  Musical Instruments
49       696630  ...  Musical Instruments
57       955914  ...  Musical Instruments
67       270976  ...      Web Development
74      1214144  ...     Business Finance
...         ...  ...                  ...
3620     552598  ...      Web Development
3638    1068590  ...      Web Development
3652     752706  ...      Web Development
3674    1257976  ...  Musical Instruments
3680    1225194  ...     Business Finance

[310 rows x 11 columns]

4) Show all courses that are paid

In [17]:
data [ ~(data['is_paid'] == False)]

      course_id  ...              subject
0        288942  ...  Musical Instruments
1       1170074  ...  Musical Instruments
2       1193886  ...  Musical Instruments
3       1116700  ...  Musical Instruments
4       1120410  ...  Musical Instruments
...         ...  ...                  ...
3676     498488  ...     Business Finance
3677     328960  ...      Web Development
3678     552700  ...  Musical Instruments
3679     631754  ...      Web Development
3681     964478  ...       Graphic Design

[3372 rows x 11 columns]

In [18]:
data[ data['is_paid'] == True]

      course_id  ...              subject
0        288942  ...  Musical Instruments
1       1170074  ...  Musical Instruments
2       1193886  ...  Musical Instruments
3       1116700  ...  Musical Instruments
4       1120410  ...  Musical Instruments
...         ...  ...                  ...
3676     498488  ...     Business Finance
3677     328960  ...      Web Development
3678     552700  ...  Musical Instruments
3679     631754  ...      Web Development
3681     964478  ...       Graphic Design

[3372 rows x 11 columns]

#5)Which are the top selling courses

In [19]:
data.head(2)

   course_id  ...              subject
0     288942  ...  Musical Instruments
1    1170074  ...  Musical Instruments

[2 rows x 11 columns]

In [21]:
data.sort_values('num_subscribers',ascending=False)

      course_id  ...              subject
2230      41295  ...      Web Development
776       59014  ...      Web Development
3385     625204  ...      Web Development
640      173548  ...      Web Development
3316     764164  ...      Web Development
...         ...  ...                  ...
2290    1223240  ...  Musical Instruments
1267    1258666  ...     Business Finance
2070    1215926  ...     Business Finance
1931    1247992  ...     Business Finance
3165    1087466  ...     Business Finance

[3682 rows x 11 columns]

#6) Which are the least selling courses in Udemy

In [22]:
data.sort_values('num_subscribers', ascending=True)

      course_id  ...           subject
649     1233314  ...  Business Finance
3259    1232282  ...  Business Finance
3261    1275872  ...    Graphic Design
910      726314  ...    Graphic Design
3328     715476  ...  Business Finance
...         ...  ...               ...
3316     764164  ...   Web Development
640      173548  ...   Web Development
3385     625204  ...   Web Development
776       59014  ...   Web Development
2230      41295  ...   Web Development

[3682 rows x 11 columns]

#7) Show all the courses of Graphic design where price is below 100

In [28]:
data[ (data['subject'] == 'Graphic Design') & (data['price'] < '100') ]

Empty DataFrame
Columns: [course_id, course_title, is_paid, price, num_subscribers, num_reviews, num_lectures, level, content_duration, published_timestamp, subject]
Index: []

In [29]:
data[data['subject'] == 'Graphic Design']

      course_id  ...         subject
8        206592  ...  Graphic Design
20      1165268  ...  Graphic Design
35      1164876  ...  Graphic Design
39       599652  ...  Graphic Design
47      1269190  ...  Graphic Design
...         ...  ...             ...
3588    1131780  ...  Graphic Design
3594     908664  ...  Graphic Design
3639    1122306  ...  Graphic Design
3671     144222  ...  Graphic Design
3681     964478  ...  Graphic Design

[603 rows x 11 columns]

In [30]:
data[ (data['subject'] == 'Graphic Design') & (data['price'] == '100') ]

      course_id  ...         subject
47      1269190  ...  Graphic Design
169      983444  ...  Graphic Design
184      638040  ...  Graphic Design
520      978462  ...  Graphic Design
699      757900  ...  Graphic Design
1029    1160004  ...  Graphic Design
1071    1161864  ...  Graphic Design
1444     490392  ...  Graphic Design
1568     727510  ...  Graphic Design
1616     996868  ...  Graphic Design
1697     654038  ...  Graphic Design
1773    1012262  ...  Graphic Design
1786    1246168  ...  Graphic Design
1797    1266468  ...  Graphic Design
2137     927186  ...  Graphic Design
2481    1027080  ...  Graphic Design
2491     771044  ...  Graphic Design
2576     482924  ...  Graphic Design
2704     950894  ...  Graphic Design
2706    1243016  ...  Graphic Design
2713    1147664  ...  Graphic Design
3479     575040  ...  Graphic Design
3594     908664  ...  Graphic Design

[23 rows x 11 columns]

In [31]:
data[ (data['subject'] == 'Graphic Design') & (data['price'] > '100') ]

      course_id  ...         subject
8        206592  ...  Graphic Design
20      1165268  ...  Graphic Design
35      1164876  ...  Graphic Design
39       599652  ...  Graphic Design
52       794036  ...  Graphic Design
...         ...  ...             ...
3568     133968  ...  Graphic Design
3588    1131780  ...  Graphic Design
3639    1122306  ...  Graphic Design
3671     144222  ...  Graphic Design
3681     964478  ...  Graphic Design

[580 rows x 11 columns]

#8) List out all the courses that are related with 'Python'

In [32]:
data.head(1)

   course_id  ...              subject
0     288942  ...  Musical Instruments

[1 rows x 11 columns]

In [37]:
data[data['course_title'].str.contains('Python')]

      course_id  ...           subject
216      599504  ...   Web Development
777       47963  ...   Web Development
814      631128  ...   Web Development
842      186096  ...   Web Development
1400     394832  ...   Web Development
1932    1038538  ...   Web Development
1969     902888  ...  Business Finance
2294     391546  ...   Web Development
2295    1063722  ...   Web Development
2341     546848  ...    Graphic Design
2906     368340  ...   Web Development
2908    1035940  ...   Web Development
2929     270808  ...   Web Development
2952    1170894  ...  Business Finance
2953    1070886  ...  Business Finance
2954    1196544  ...  Business Finance
2955     822444  ...   Web Development
2956     477702  ...   Web Development
2957    1035472  ...  Business Finance
2958     529828  ...  Business Finance
2959      70640  ...   Web Development
2960     523312  ...   Web Development
2962    1088656  ...  Business Finance
3013     970600  ...   Web Development
3154     815482  ...  Business Finance
3272     938560  ...   Web Development
3460      76052  ...   Web Development
3573      16646  ...   Web Development
3574     574082  ...   Web Development

[29 rows x 11 columns]

In [38]:
len(data[data['course_title'].str.contains('Python')])

29

#9) What are courses that are published in year 2015

In [39]:
data.head(1)

   course_id  ...              subject
0     288942  ...  Musical Instruments

[1 rows x 11 columns]

In [44]:
data['published_timestamp'].dtypes

dtype('O')

In [46]:
data.published_timestamp = pd.to_datetime(data.published_timestamp)

In [47]:
data['Year'] = data.published_timestamp.dt.year

In [48]:
data

      course_id  ...  Year
0        288942  ...  2014
1       1170074  ...  2017
2       1193886  ...  2017
3       1116700  ...  2017
4       1120410  ...  2017
...         ...  ...   ...
3677     328960  ...  2015
3678     552700  ...  2015
3679     631754  ...  2015
3680    1225194  ...  2017
3681     964478  ...  2016

[3682 rows x 12 columns]

In [49]:
data[data['Year'] == 2015]

      course_id  ...  Year
10       591880  ...  2015
16       302450  ...  2015
19       384928  ...  2015
23       550842  ...  2015
26       486240  ...  2015
...         ...  ...   ...
3675     551170  ...  2015
3676     498488  ...  2015
3677     328960  ...  2015
3678     552700  ...  2015
3679     631754  ...  2015

[1014 rows x 12 columns]

In [50]:
len(data[data['Year'] == 2015])

1014

#10) What are the maximum number of subscribers in each level of courses

In [53]:
data.sort_values('level', ascending=False)

      course_id  ...  Year
1177      38456  ...  2013
950      869448  ...  2016
3464     459946  ...  2015
2689     908996  ...  2016
434      897146  ...  2016
...         ...  ...   ...
1602     518870  ...  2015
1603     517866  ...  2015
1607      68876  ...  2013
1609     796450  ...  2016
3681     964478  ...  2016

[3682 rows x 12 columns]

In [55]:
data.groupby('level').num_subscribers.sum()

level
All Levels            6916112
Beginner Level        4052843
Expert Level            50196
Intermediate Level     742005
Name: num_subscribers, dtype: int64

In [56]:
data.groupby('level').num_subscribers.sum().sort_values(ascending=False)

level
All Levels            6916112
Beginner Level        4052843
Intermediate Level     742005
Expert Level            50196
Name: num_subscribers, dtype: int64

In [57]:
data.groupby('level').num_subscribers.max()

level
All Levels            268923
Beginner Level        161029
Expert Level            5172
Intermediate Level     29167
Name: num_subscribers, dtype: int64

In [58]:
data.groupby('level').num_subscribers.min()

level
All Levels            0
Beginner Level        0
Expert Level          1
Intermediate Level    0
Name: num_subscribers, dtype: int64

In [59]:
data.groupby('level').max()

                    course_id  ...  Year
level                          ...
All Levels            1277924  ...  2017
Beginner Level        1282064  ...  2017
Expert Level          1275790  ...  2017
Intermediate Level    1276182  ...  2017

[4 rows x 11 columns]